<!-- All of this is needed in the navigation bar -->

<!-- Sebastian Mark -->

<mat-toolbar color = "primary" class="mat-elevation-z8">
    <span><mat-icon>flight_takeof</mat-icon> Airflow</span>

<div class = "spacer"> </div>

    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/airports">Airports</a>
    <!-- Airport 1 has a link to a page -->
    <!-- <a mat-button routerLink="/airport1">Airports</a> -->
    <a mat-button routerLink="/chatbot">Chatbot</a>
    <a mat-button routerLink="/trip">Trips </a>
    <a mat-raised-button color = "accent" *ngIf="!isAuthenticated" routerLink="/login">Log in</a>
    <a mat-raised-button color = "accent" href="" id="complicated" *ngIf="isAuthenticated" (click)="logout()"> Log out</a>

  </mat-toolbar>


  <!-- Sebastian Mark -->