<div class= "formholder2">
    <button (click)="tripIf()" id="ifButton">Create Trip/Flight</button>
    <div id="trippart">
    <app-trips-part (create) = "createPost()" *ngIf="createTrip"></app-trips-part>
    </div>
    <div class="trips">
        <button (click)="toggleTrip()" type="checkbox" >show/hide Trips/Flights</button>
        <ng-container *ngIf = "tripVisible">
            <hr>
            <div *ngFor="let post of allTrip" >
                <b>Trip Name:</b> {{post.tripname}}<br>
                <!-- <b>Parking Space:</b>{{post.id}} <br> -->
                <b id="departnum">Departing Flight Number:</b>{{flightMap.get(post.id)?.flight1}} <br>
                <b id="departtime">Departing Flight Time:</b>{{flightMap.get(post.id)?.time1}} <br>
                <b id="returnnum">Returning Flight Number:</b>{{flightMap.get(post.id)?.flight2}} <br>
                <b id="returntime">Returning Flight Time:</b>{{flightMap.get(post.id)?.time2}} 
                <button mat-icon-button  (click)="deleteTrip(post.id)" id="deletebutton"> <mat-icon  color="warn" class="button"> delete</mat-icon></button>
                <hr>
            </div>
        </ng-container>
    </div>

</div>


<div class= "formholder">
    <button (click)="hotelIf()" id="ifButton">Create Hotel Reservation</button>
    <app-hotel-part (create) = "createPost()" *ngIf="createHotel"></app-hotel-part>

    <div class="trips">
        <button (click)="toggleHotel()" type="checkbox" >show/hide Hotel Reservations</button>
        <ng-container *ngIf = "hotelVisible">
            <hr>
            <div *ngFor="let post of allHotel" >
                <b>Trip Name: </b> {{post.tripname}}<br>
                <b>Hotel: </b>{{post.hotel}}<br>
                <b>Checkin Time: </b>{{post.checkin}}<br>
                <b>Checkout Time: </b> {{post.checkout}}<br>
                <b>Cost: </b>${{post.cost}}<br>
                <button mat-icon-button  (click)="deleteHotel(post.userId)" id="deletebutton"> <mat-icon  color="warn" class="button"> delete</mat-icon></button>
                <hr>
            </div>
        </ng-container>
    </div>
</div>

<div class= "formholder">
    <button (click)="carIf()" id="ifButton">Create Rental Car</button>
    <app-car-part (create) = "createPost()" *ngIf="createCar"></app-car-part>

    <div class="trips">
        <button (click)="toggleCar()" type="checkbox" >show/hide Rental Cars</button>
        <ng-container *ngIf = "carVisible">
            <hr>
            <div *ngFor="let post of allCar" >
                <b>Trip Name: </b>{{post.tripname}}<br>
                <b>Car Description: </b>{{post.description}}<br>
                <b>Rental Information: </b>{{post.rentalinfo}}<br>
                <b>Pickup Time: </b>{{post.pickup}}<br>
                <b>Return Time: </b>{{post.returntime}}<br>
                <b>Cost: </b>${{post.cost}}<br>
                <button mat-icon-button  (click)="deleteCar(post.userId)" id="deletebutton"> <mat-icon  color="warn" class="button"> delete</mat-icon></button>
                <hr>
            </div>
        </ng-container>
    </div>

</div>

