.field{
    width: 70%;
    max-width: 500px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: center;
}

.formholder{
    margin: auto;
    width: 45%;
    float: left;
    padding: 15px;
    margin-top:12px;
    margin-left: 1%;
    margin-right: 1%;
    background: lightseagreen;
    border: 2px solid black/*transparent*/;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 600px){
    .formholder{
        margin: auto;
        width: 90%;
        float: left;
        padding: 15px;
        margin-top:12px;
        background: lightseagreen;
        border: 2px solid black/*transparent*/;
        border-radius: 10px;
        justify-content: center;
        text-align: center;
    }
}

.formholder2{
    margin: auto;
    width: 95%;
    float: center;
    padding: 15px;
    margin-top:12px;
    margin-left: 1%;
    margin-right: 1%;
    background: cornflowerblue;
    border: 2px solid black/*transparent*/;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}


#deletebutton{
    float: right;
}


.trips{
    margin: auto;
    padding: 15px;
    margin-top:12px;
    margin-left: 1%;
    margin-right: 1%;
    background: lightpink;
    border: 2px solid black/*transparent*/;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 600px){
    .trips{
        margin: auto;
        padding: 15px;
        margin-top:12px;
        margin-left: 1%;
        margin-right: 1%;
        background: lightpink;
        border: 2px solid black/*transparent*/;
        border-radius: 15px;
        justify-content: center;
        text-align: center;
    }
}
