<div >
    <form [formGroup]=tripForm (ngSubmit)=submit(tripForm.value) novalidate>
        <mat-form-field class="field">
            <mat-label>Trip name</mat-label>
            <input matInput placeholder="Name" formControlName="tripname">
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label>Parking spot</mat-label>
            <input matInput placeholder="Parking spot" formControlName="parking">
        </mat-form-field>
        <div class="button" >
            <button color="accent" [disabled]="!tripForm.valid" mat-raised-button type="submit" class="submitb">
              <span>Submit</span></button>
          </div>
    </form>
</div>

<div class="trips">
    <button (click)="toggleTrip()" type="checkbox" >show/hide Trips</button>
    <ng-container *ngIf = "tripVisible">
        <div *ngFor="let post of allTrip" >
            <div> <b>Trip Name:</b> {{post.tripname}}</div>
            <div> <b>Parking Space:</b>{{post.parking}}</div> 
        </div>
    </ng-container>
</div>

<div class="trips">
    <button (click)="toggleHotel()" type="checkbox" >show/hide Hotels</button>
    <ng-container *ngIf = "hotelVisible">
        <div *ngFor="let post of allTrip" >
            <div> <b>Trip Name:</b> {{post.tripname}}</div>
            <div> <b>Parking Space:</b>{{post.parking}}</div> 
            <br>
        </div>
    </ng-container>
</div>

<div class="trips">
    <button (click)="toggleFlight()" type="checkbox" >show/hide Flights</button>
    <ng-container *ngIf = "flightVisible">
        <div *ngFor="let post of allTrip" >
            <div> <b>Trip Name:</b> {{post.tripname}}</div>
            <div> <b>Parking Space:</b>{{post.parking}}</div> 
        </div>
    </ng-container>
</div>


<div class="trips">
    <button (click)="toggleCar()" type="checkbox" >show/hide Cars</button>
    <ng-container *ngIf = "carVisible">
        <div *ngFor="let post of allTrip" >
            <div> <b>Trip Name:</b> {{post.tripname}}</div>
            <div> <b>Parking Space:</b>{{post.parking}}</div> 
        </div>
    </ng-container>
</div>

