svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.result_font{
  font-size: 20px;
}

.example-full-width {
  width: 100%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.submitb{
  font-size: 12px;
}
.button{
  color: white;
}

/*button{
  padding: 3.5%;
  font-size: 16px;
  background-color:rgb(255, 64, 129);
  border: 2px solid black/*transparent;
  border-radius: 10px;
}*/
