.field{
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.submitb{
    font-size: 12px;
}


.space{
    margin-top: 1%;
    margin-bottom: 1%;
}

button{
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 16px;
    background-color:rgb(255, 64, 129);
    border: 2px solid black/*transparent*/;
    border-radius: 30px;
    color: white;
}


#deletebutton{
    float: right;
    border: none;
    background-color: transparent;
}
