<div class="log">
    <div class=login_comp>
        <div class="form">
            <div class="log_text">
                <h2>Sign Up Here</h2>
            </div>
            <form [formGroup]=signupForm (ngSubmit)=signup() novalidate class="form">
                <mat-form-field class="field">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="Ex. John" formControlName="name">
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. John@gmail" formControlName="email">
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Ex. Password" formControlName="password">
                </mat-form-field>
                <button color="primary" red="!signupForm.valid" mat-raised-button type="submit">
                    <span>Submit</span></button>
            </form>
        </div>
    </div>
