<body>
<div class="bg">
  <body>
    
  </body>
  <div class = "welcome">
    <h1>Welcome travelers!</h1>
  </div>
</div>

</body>
<!-- chatbot starts here -->
  <div>
    <style>
      df-messenger {
        --df-messenger-bot-message: #3f51b5;
        --df-messenger-button-titlebar-color: #3f51b5;
        --df-messenger-chat-background-color: #fafafa;
        --df-messenger-font-color: white;
        --df-messenger-send-icon: #CFC493;
        --df-messenger-user-message: #466069;
      }
    </style>
    <df-messenger 
      intent="WELCOME" 
      chat-title="Alina" 
      agent-id="d183f309-9a5d-4864-908f-970cf9aabe25"
      language-code="en"
      chat-icon="https://cdn-icons-png.flaticon.com/512/4382/4382678.png">
    </df-messenger>
</div>
<!-- chatbot ends here -->