body,
html {
  height: 100%;
}

.welcome{

    * {
        text-align: center;
        font-size: 30px;
        padding-top: 10px;
        }
font-size: large;
color: black;
}
.middle{
  margin: auto;
  width: 95%;
  float: left;
  border-top: 2px solid gray;
  margin-top:12px;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: center;
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.sideMap{
  margin: auto;
  width: 44%;
  float: left;
  padding: 15px;
  margin-top:12px;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 600px){
  .sideMap{
      margin: auto;
      width: 95%;
      float: left;
      padding: 15px;
      //margin-top:12px;
      justify-content: center;
      text-align: center;
  }
}
@media screen and (max-width: 600px){
  .side{
      margin: auto;
      width: 95%;
      float: left;
      padding: 15px;
      //margin-top:12px;
      background: crimson;
      border: 2px solid black/*transparent*/;
      border-radius: 10px;
      justify-content: center;
      text-align: center;
  }
}

.bg {
    img {
        width: 100%;
        height: auto;
      }
  /* The image used */
  background-image: url("../../../../assets/imgs/airplane.jpg");
  /* Full height */
  height: 28%;
  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.footer{
  flex-shrink: 0;
  flex-grow: 0;
  background: #eee;
  padding: 3px 15px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


