<body>
<div class="bg">
  <div class = "welcome">
    <h1>Welcome travelers!</h1>
  </div>
</div>

</body>
<!-- chatbot starts here -->
  <div>
    <style>
      df-messenger {
        --df-messenger-bot-message: #3f51b5;
        --df-messenger-button-titlebar-color: #3f51b5;
        --df-messenger-chat-background-color: #fafafa;
        --df-messenger-font-color: white;
        --df-messenger-send-icon: #CFC493;
        --df-messenger-user-message: #466069;
      }

      /*    wait-open="true" if we want Alina to not open right away */
    </style>
    <df-messenger
    intent="WELCOME"
    chat-title="Alina"
    agent-id="899b5101-4166-49b5-af22-1b3d73e246ba"
    language-code="en"
    chat-icon="https://cdn-icons-png.flaticon.com/512/4382/4382678.png">
  ></df-messenger>
</div>
<!-- chatbot ends here -->
